[submodule "vim/bundles/nerdtree"]
	path = vim/bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundles/salt-vim"]
	path = vim/bundles/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "vim/bundles/vim-gitgutter"]
	path = vim/bundles/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundles/vim-javascript"]
	path = vim/bundles/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundles/vim-jinja2-syntax"]
	path = vim/bundles/vim-jinja2-syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "vim/bundles/vim-json"]
	path = vim/bundles/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/bundles/vim-markdown"]
	path = vim/bundles/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundles/nerdtree-git-plugin"]
	path = vim/bundles/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "tmux/plugins/resurrect"]
	path = tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "vim/bundles/vim-session"]
	path = vim/bundles/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "vim/bundles/xolox-vim-misc"]
	path = vim/bundles/xolox-vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/bundles/vim-windowswap"]
	path = vim/bundles/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
[submodule "vim/bundles/Dockerfile.vim"]
	path = vim/bundles/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "vim/bundles/vim-less"]
	path = vim/bundles/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/bundles/vim-yaml"]
	path = vim/bundles/vim-yaml
	url = https://github.com/avakhov/vim-yaml.git
