# Editor files.
*.swp

# Local system profile.
.profile

# Generated config files.
asdf/.tool-versions
asdf/plugins.txt
bash/bashrc
neovim/init.vim
tmux/tmux.conf
vim/vimrc
vscode/plugins.txt

# MacOS Stuff
.DS_Store
