# Editor files.
*.swp

# Local system profile.
.profile

# Generated config files.
asdf/.tool-versions
asdf/plugins.txt
bash/bashrc
cargo/packages.txt
neovim/init.vim
starship/starship.toml
tmux/tmux.conf
vim/vimrc
vscode/plugins.txt

# MacOS Stuff
.DS_Store
